{
  "env": {
    "browser": true,
    "es6": true,
    "mocha": true
  },
  "extends": "airbnb-base",
  "rules": {
    // disable requiring trailing commas because it might be nice to revert to
    // being JSON at some point, and I don't want to make big changes now.
    "comma-dangle": 0,
    "no-unused-vars": 0
  },
  "plugins": [
    "react"
  ],
  "settings": {
    "react": {
      "pragma": "React",
      // Pragma to use, default to "React"
      "version": "15.0"
      // React version, default to the latest React stable release
    }
  },
  "parserOptions": {
    "ecmaFeatures": {
      "jsx": true
    }
  }
}

